/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
*,
:after,
:before {
  box-sizing: border-box;
}
html {
  -webkit-text-size-adjust: 100%;
  line-height: 1.15;
  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;
}
body {
  font-family: system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial,
    sans-serif, Apple Color Emoji, Segoe UI Emoji;
  margin: 0;
}
hr {
  color: inherit;
  height: 0;
}
abbr[title] {
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  font-family: ui-monospace, SFMono-Regular, Consolas, Liberation Mono, Menlo,
    monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
table {
  border-color: inherit;
  text-indent: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
:-moz-focusring {
  outline: 1px dotted ButtonText;
}
:-moz-ui-invalid {
  box-shadow: none;
}
legend {
  padding: 0;
}
progress {
  vertical-align: baseline;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
summary {
  display: list-item;
}
:root {
  --error: #f00;
  --success: #20bf6b;
  --warning: #fa692c;

  --bckgdCol: #181829;

  --primary: #246bfd;
  --secondary-color: #222232;
  --tertiary-color: #2b2b3d;
  --tertiary-light: #27273a;
  --key-grey-blue: #65656b;

  --key-deep-red: #441818;
  --key-dark-blue: #14274d;

  --grey-text: #c4c4c4;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 100%;
  font-family: "Nunito", sans-serif;
  background-color: #181829;
  background-color: var(--bckgdCol);
}
img,
video,
svg {
  max-width: 100%;
  height: auto;
}
ul {
  list-style: none;
}
h1 {
  font-size: 3rem;
  margin-top: 0;
}
section {
  padding-left: 16px;
  padding-right: 16px;
}
@media (min-width: 768px) {
  section {
    padding-top: 50px;
    padding-left: 0;
    padding-right: 0;
  }
}
.alert {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 9999;
  color: #fff;
  font-size: 1.25rem;
  font-weight: 400;
  text-align: center;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 2rem;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.25);
  width: 80%;
}
@media (min-width: 768px) {
  .alert {
    padding: 1.6rem 8rem;
  }
}
.alert--success {
  background-color: #20bf6b;
  background-color: var(--success);
}
.alert--error {
  background-color: #f00;
  background-color: var(--error);
}

/*# sourceMappingURL=main.css.map */
