@define-mixin atTiny {
  @media (min-width: 360px) {
    @mixin-content;
  }
}

@define-mixin atMini {
  @media (min-width: 400px) {
    @mixin-content;
  }
}

@define-mixin atSmall {
  @media (min-width: 530px) {
    @mixin-content;
  }
}

@define-mixin atMedium {
  @media (min-width: 768px) {
    @mixin-content;
  }
}

@define-mixin atLarge {
  @media (min-width: 1024px) {
    @mixin-content;
  }
}

@define-mixin atWide {
  @media (min-width: 1170px) {
    @mixin-content;
  }
}

@define-mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@define-mixin fontSmooth {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@define-mixin button-icon-link {
  background-color: var(--primary);
  color: #fff;
  font-weight: 300;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;

  & svg {
    margin-right: 0.5rem;
  }
}
